html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  font: 100%/1.2;
  margin: 0;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: #7d142e;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 15vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.poppin-semi-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.pub-wrapper {
  margin-top: 4.86%;
  display: flex;
}

.pub-cont2 {
  width: 64.44%;
  margin-left: 9.02%;
}

.pub-inner {
  display: flex;
  justify-content: space-between;
}

.pub-txt {
  width: 43.5%;
}

.pub-poster {
  margin-top: 1.62%;
  display: flex;
  align-items: center;
}

/* class for fonts */

.poppin {
  font-family: 'Poppins', sans-serif;
}

.poppin-bold-default {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.index-poppin-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 1rem;
}

.poppin-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
}

.poppin-black {
  font-weight: 900;
}

.poppin-italy {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.ina-red {
  color: #7d142e;
}

.contact-text-font-weight {
  font-weight: 300;
  line-height: 130%;
}

.notokr {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #616161;
  text-align: left;
  margin-top: 1%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.inaPicture {
  width: 45%;
  margin-right: 7%;
}

.about-txt {
  margin-left: 17.5%;
  margin-top: 11.18%;
  width: 62.5%;
}

.about-txt-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
  padding: 0 20%;
}

.about-txt2 {
  width: 100%;
}

p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
}

p.differ {
  font-family: Poppins;
}

p.title-txt {

  color: #212121;
}

p.research-txt {
  margin-top: 0;
  font-weight: 400;
  color: #616161;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 15vh;
  padding: 0 10%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
}

svg.logo {
  position: relative;
  overflow: hidden;
  padding: 0 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

li {
  float: right;
}

a.nondeco:link {
  text-decoration: none;
  color: black;
}

a.nondeco:visited {
  text-decoration: none;
  color: black;
}

a.nondeco:active {
  text-decoration: none;
}

a.nondeco:hover {
  text-decoration: none;
  color: #7d142e;
}

a.poster:link {
  text-decoration: none;
  color: #7d142e;
}

a.poster:visited {
  text-decoration: none;
  color: #7d142e;
}

a.poster:active {
  text-decoration: none;
}

a.poster:hover {
  text-decoration: none;
  color: #7d142e;
}

li a {
  display: block;
  color: #818181;
  text-align: center;
  padding: 4px 12px;
  text-decoration: none;
  float: right;
  font-family: Poppins;
}

li a:hover {
  color: #7d142e;
}

.intro {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#svg-btn {
  float: right;
}

.main-text {
  width: 55%;
  height: 100%;
}

.inner-txt {
  align-items: center;
  vertical-align: text-top;
  line-height: 133%;
  font-weight: 300;
}

.inner-txt2 {
  align-items: center;
  width: 78%;
  vertical-align: text-top;
  line-height: 165%;
  font-weight: 400;
  font-size: 1.15rem;
}

.topic {
  margin-top: 3.5%;
}

.title {
  display: flex;
  align-items: center;
}

.journey {
  margin-top: 11.11%;
}

.sidenav {
  display: none;
}

.sidenav-font {
  font-size: 2rem;
}

.sidenav a {
  text-decoration: none;
  font-size: 0.75rem;
  color: #616161;
  display: block;
}

.pub-wrapper {
  margin-top: 11.11%;
}

.pub-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.12rem;
  margin-top: 2.7%;
}

.pub-expl {
  font-size: 0.7rem;
}

.pub-conts {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.78rem;
  color: #616161;
  margin-top: 2.16%;
}

.line {
  margin-top: 2.7%;
  border-bottom: 0.5px solid #818181;
}

.project-top-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.project-main-container{
  display: flex;
  flex-direction: column;
  
  margin-top: 15vh; 
}

.project-cont {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.row {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.col {
  position: relative;
  overflow: hidden;
  float: left;
}

.project-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.col:hover .overlay {
  opacity: 0.8;
}
.overlay-txt {
  color: white;
  top: 5.1%;
  left: 5.1%;
  font-size: 15px;
  position: absolute;
}

/* css for project contents */
.project-wrapper {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-pic {
  margin-bottom: 3%;
  width: 100%;
}
.project-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 9.72%;
}
.project-title {
  margin-right: 7.62%;
  width: 30.9%;
}

.project-expl {
  width: 100%;
}
.p-title-font {
  /* font-size:  1.67rem; */
  font-size: 1.67rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
.p-expl-font {
  /* font-size:  1.28rem; */
  font-size: 1.28rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-top: 0;
}
.p-category-font {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: #616161;
}
.p-txt-font {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  margin-top: 0;
  font-weight: 300;
  color: #212121;
  line-height: 170%;
}
.p-bullet {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  line-height: 170%;
  font-weight: 500;
  color: #616161;
  text-align: left;
  justify-content: left;
  margin-top: 1%;
  }
.video {
  display: flex;
  justify-content: center;
  width: 100%;
}
.fin {
  display: flex;
  margin-top: 4.17%;
  justify-content: center;
  text-align: center;

}

.m-title {
  font-size: 1rem;
  font-weight: 600;
}

.m-cont {
  line-height: 150%;
}


/* contact */

.contact-img {
  margin-top: 0;
}
.contact-img figcaption {
  text-align: center;
  font-size: 0.61rem;
}
.contact-txt {
  width: 50%;
}

.caption-con {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
  color: #616161;
  text-align: center;
  margin-top: 1%; 
}

/* media query */
@media screen and (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    margin-top: 15vh;
  }

  .content-container {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
  }

  li a {
    padding: 14px 16px;
  }

  .project-intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 9.72%;
  }

  .project-cont {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 210px;
    height: 59px;
    position: fixed;
    z-index: 1;
    top: 26.35%;
    left: 144px;
    background: transparent;
    overflow-x: hidden;
  }
}

@media (max-width: 768px){
  .project-title{
  width: 100%;
}
}
